@import url("https://fonts.googleapis.com/css?family=Bungee");

.error-container {
    background: #1b1b1b;
    color: white;
    text-align: center;
    font-family: "Bungee", cursive;
    padding-top: 50px;
    min-height: 100vh;
  }
  
  .robot-svg {
    width: 50vw;
    display: block;
    margin: 0 auto;
  }
  
  .error-heading {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .error-subheading {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  
  .home-link {
    color: #2aa7cc;
    text-decoration: none;
  }
  
  .home-link:hover {
    color: white;
  }
  
  /* Eye movement based on mouse position */
  /* .eye {
    cx: calc(115px + 30px * var(--mouse-x));
    cy: calc(50px + 30px * var(--mouse-y));
  } */
  
  .eye {
    cx: 130px;
    cy: 65px;
}

  #eye-wrap {
    overflow: hidden;
  }
  
  .error-text {
    font-size: 120px;
  }
  
  .alarm {
    animation: alarmOn 0.5s infinite;
  }
  
  @keyframes alarmOn {
    to {
      fill: darkred;
    }
  }
  